header{
    color:rgb(180, 218, 47);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}

u{
    font-size: xx-large;
    color: aliceblue;
    text-align:center;
}

body{
    background-color: rgb(63, 170, 212);
   
}

form{
    text-align: center;

}

button{
 color:rgb(180, 218, 47);
background-color: rgb(26, 24, 27);
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bold; 
border-width: 2px;
border-color: azure;
}